@font-face {
    font-family: 'Pixeled';
    /* src: url('./Pixeled.ttf') */
    src: url('./vcr.ttf')
}

body {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    background-color: #b6f2ff;
    font-family: 'Pixeled';
}

input {
    font-family: 'Pixeled';
}

button {
    font-family: 'Pixeled';
}

select {
    font-family: 'Pixeled';
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'add add'
                         'lista visu';
}

#addInstrucao {
    scroll-snap-align: start;
    /* position: absolute; */
    /* top: 15px; */
    /* left: 15px; */
    text-align: center;
    width: 100%;
    /* min-width: 300px; */
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'combo dest r1 r2 bAdd bExec';
    /* gap: 5px; */
}

#tituloAdd {
    font-weight: bold;
    font-size: 1.3rem;
    font-style: italic;
}

#addInstrucao input {
    width: auto;
}

.entradaAdd {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'label entrada';
    margin: 5px;
}

.entradaAdd span {
    width: 100%;
    text-align: center;
}

.entradaAdd input {
    width: 100%;
}

#butAdd {
    cursor: pointer;
    background-color: transparent;
    font-size: 1.1rem;
    border: 1px dashed black;
    border-radius: 5px;
    width: calc(100% - 5px);
    margin-top: 5px;
}

#opInstrucao {
    margin: 2px;
    text-align: center;
    width: 100%;
}

#referencia {
    scroll-snap-align: start;
    display: grid;
    position: absolute;
    top: 100vh;
    left: 0;

    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'registradores texto';
    align-items: center;
    min-height: 100vh;
}

#registradores {
    margin: 15px;
}

#registradores, td {
    column-width: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
}

#pulaReferencias, #voltaReferencias {
    cursor: pointer;
    color: white;
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    background-color: rgba(0, 25, 120, 100);
    z-index: 10 !important;
}
#pulaReferencias {
    top: calc(100vh - 5px);
    left: 50%;
    transform: translate(-50%, -100%);
}

#voltaReferencias {
    top: calc(100vh + 5px);
    left: 50%;
    transform: translate(-50%, 0);
}

#listaInstrucoes {
    width: 90%;
    margin: 0 auto;
    /* min-width: 300px; */
    /* position: absolute; */
    /* top: calc(100vh - 15px); */
    /* transform: translate(0, -100%); */
    /* left: 15px; */
    /* max-height: 50vh; */
    overflow-y: auto;
}

#listaInstrucoes span {
    width: 100%;
    text-align: center;
    display: block;
    /* font-size: 0.8rem; */
    /* font-family: 'monospace'; */
}

#opInstrucao {
    width: 100%;
}

#visualizacao {
    /* position: absolute; */
    /* top: 50vh; */
    /* right: calc(35% + 15px); */
    width: 90%;
    /* padding: 5px; */
    /* align-self: center; */
    /* margin: 0 auto */
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'img1 img2 img3 img4 img5'
        'etapa1 etapa2 etapa3 etapa4 etapa5'
        'hr1 hr1 hr1 hr1 hr1'
        'instr1_1 instr1_2 instr1_3 instr1_4 instr1_5'
        'hr2 hr2 hr2 hr2 hr2'
        'regs1 regs2 regs3 regs4 regs5'
    ;
    /* transform: translate(50%, -50%) rotate(0.2deg); */
    /* transform: translate(50%, -50%); */
    align-content: center;
}

#visualizacao hr {
    border: 1px dashed black;
    width: 100%;
}

.nomeEtapa {
    font-size: 1rem !important;
}

#visualizacao span {
    text-align: center;
    align-self: center;
    width: 100%;
    font-size: 1.5rem;
}

#butExec {
    font-weight: bold;
    width: 100%;
    /* grid-area: executa; */
    cursor: pointer;
    border: 2px dashed black;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: transparent;
    margin-top: 5px;
}

.imgCard {
    margin: 0 auto;
    width: 8vw;
    animation: animaCard 2s infinite linear;
}

@keyframes animaCard {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0);
    }
}

.regs {
    overflow: hidden;
    position: relative;
    width: 200%;
    text-align: center;
}

.regs span {
    z-index: 10;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translate(-50%, 0);
}
